// MARGIN
.margin-sm-btm{
	margin-bottom: 1.5rem;
}

.margin-m-btm{
	margin-bottom: 2.5rem;
}

.margin-lg-btm{
	margin-bottom: 4.5rem;
}

// PADDING
.padding-sm-btm{
	padding-bottom: 1.5rem;
}

.padding-m-btm{
	padding-bottom: 2.5rem;
}

.padding-lg-btm{
	padding-bottom: 4.5rem;
}

.padding-lg-top{
	padding-top: 4.5rem;
}